{% block item_window %}
<div class="tile tile_no-round choice-window is-vertical" id="item_window" style="display:none">
  <div class="tile" style="flex:0">
    <div class="tile is-6 choice-window__item type">
      <div class="choice-window__item__image ">
        <div class="choice-window__item__previous">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="choice-window__item__next">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="control" style="margin:auto">
        <input class="button is-medium is-light" type="file">
        Добавить
      </input>
    </div>
  </div>
</div>
<div class="tile">
  <div class="tile is-6 is-vertical">
    <div class="tile" style="flex:6">
      <div class="tile  choice-window__item dress">
        <div class="choice-window__item__image ">
          <div class="choice-window__item__previous">
            <i class="fa fa-angle-left"></i>
          </div>
          <div class="choice-window__item__next">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-6 is-vertical">
    <div class="choice-window__item__params">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Категория</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <span class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Цвет</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <span class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Стиль</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <span class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Сезон</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <span class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
