{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="tile is-ancestor is-vertical is-parent" style="height:95vmin">
    <div class="tile tile_no-round is-8">
      <div class="choice-menu">
        <a class="choice-menu__item" id="select_item_window">
          <figure class="image is-64x64 choice-menu__item__image">
            <img src="/other/1.png">
          </figure>
          <div>Гардероб</div>
        </a>
        <a class="choice-menu__item" id="select_look_window_c">
          <figure class="image is-64x64 choice-menu__item__image">
            <img src="/other/1.png">
          </figure>
          <div>Избранное</div>
        </a>
        <a class="choice-menu__item" id="select_look_window_s">
          <figure class="image is-64x64 choice-menu__item__image">
            <img src="/other/1.png">
          </figure>
          <div>Подбор</div>
        </a>
      </div>
    </div>

    <div class="tile" id="windows">
      {% include "look.html" %}
      <div class="tile tile_no-round is-4 calendar-weather is-vertical">
        <div class="tile calendar" id="calendar">
          {% include "calendar.html" %}
        </div>
        <div class="tile weather is-vertical">
          <div class="tile">
            <figure class="image is-64x64">
              <img src="/other/1.png">
            </figure>
            <h3 class="title is-3" style="margin-left:auto; margin-right:auto; font-weight:bold; padding-top:3%">Погода на сегодня</h3>
          </div>
          <div class="tile">
            <div class="tile is-5" style="margin:auto;">
              <figure class="image is-96x96">
                <img src="/other/1.png">
                <div class="weather__temp">
                  <p class="weather__temp__high">+15</p>
                  <p class="weather__temp__low">+9</p>
                </div>
              </figure>
            </div>
            <div class="tile is-vertical is-7 weather-info">
              <p class="weather_info">
                вероятность осадков: 40%
              </p>
              <p class="weather_info">
                влажность: 60%
              </p>
              <p class="weather_info">
                ветер
              </p>
            </div>


          </div>
          <div class="tile">
          </div>
        </div>
      </div>
    </div>

    <div class="tile tile_no-round is-8 like">
      <div class="like__choice-menu">
        <div class="like__choice-menu__item" id="choice_prev">
          <span class="like__choice-menu__item__image"><i class="fa fa-chevron-left"></i></span>
        </div>
        <div class="like__choice-menu__item" id="choice_like">
          <span class="like__choice-menu__item__image heart"><i class="fa fa-heart-o"></i></span>
        </div>
        <div class="like__choice-menu__item" id="choice_next">
          <span class="like__choice-menu__item__image"><i class="fa fa-chevron-right" ></i></span>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  {% include "profile.html" %}
</div>
<div class="event-window" id='event-window'>
  <div class="field is-horizontal" style="width: 20vw;">
    <div class="field-label is-normal">
      <label class="label">Стиль</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <span class="select" style="width:100%">
            <select name="style" required="" id="event-window_id_style">
              <option value="" selected="">---------</option>

              <option value="C">casual</option>

              <option value="B">bussines</option>

              <option value="S">sport</option>

              <option value="P">party</option>

            </select>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
