{% block look_window %}
<div class="tile tile_no-round choice-window" id="look_window">
  <div class="tile is-8 is-vertical">
    <div class="tile choice-window__item glass">
      <div class="choice-window__item__image ">
        <div class="choice-window__item__previous">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="choice-window__item__next">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <div class="tile" style="flex:6">
      <div class="tile  choice-window__item dress">
        <div class="choice-window__item__image ">
          <div class="choice-window__item__previous">
            <i class="fa fa-angle-left"></i>
          </div>
          <div class="choice-window__item__next">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="tile  is-vertical">
        <div class="tile choice-window__item bag">
          <div class="choice-window__item__image ">
            <div class="choice-window__item__previous">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="choice-window__item__next">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile choice-window__item shoes">
            <div class="choice-window__item__image ">
              <div class="choice-window__item__previous">
                <i class="fa fa-angle-left"></i>
              </div>
              <div class="choice-window__item__next">
                <i class="fa fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="tile is-4 is-vertical">
      <div class="tile choice-window__item outerwear">
        <div class="choice-window__item__image ">
          <div class="choice-window__item__previous">
            <i class="fa fa-angle-left"></i>
          </div>
          <div class="choice-window__item__next">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div class="tile">

      </div>
  </div>
</div>
{% endblock %}
